{% extends 'sms-2/dashboard.html' %}

{% load static %}

{% block title %} Change Password {% endblock title %}

{% block main_body %}

<!-- Sidebar -->
{% include 'sms-2/sidebar.html' %}
<!-- Sidebar Ends -->

  <main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
    
    <!-- Navbar -->
    {% include 'sms-2/header.html' %}
    <!-- End Navbar -->

<section class="py-5">
    <div class="row">
        <!-- Basic Form-->
        <div class="col-lg-12 mb-5">
            <div class="card">
                <div class="card-header">
                    <div style="float:left; margin-right: 10px;">
                        <a href="{% url 'sms:sms_admin' %}"
                       data-toggle="tooltip" data-placement="bottom" title="Back"
                       class="pull-left">
                        <i class="fa fa-chevron-circle-left mr-3" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div>
                        <h3 class="h6 text-uppercase mb-0">Change Password Form</h3>
                    </div>
                </div>
                <div class="card-body">
                    <!-- <p>Change Password</p> -->

                    <form class="form" action="{% url 'sms:password_change'%}" method="POST">
                        {% csrf_token %}
                        <div id="divCheckPasswordMatch" style="color:#ff0000">
                        </div>
                        {{ form.as_p }}
                        <input type="submit" id="submit" value="Confirm" class="btn btn-danger"
                               onclick="return Validate()">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% block scripts %}

    <script type="text/javascript">
        function Validate() {
            var password = $("#pass").val();
            var confirmPassword = $("#confirmpass").val();
        
        if (password != confirmPassword) {
            $("#divCheckPasswordMatch").html("Passwords do not match!");
            return false;
            }
            else {
            return true;
            }
        }
        
        $(document).ready(function () {
        $("#confirmpass").key(Validate);
        });
        
    </script>

{% endblock scripts %}

{% endblock main_body %}