{% extends 'sms/index.html' %}
{% load static %}

{% block content %}


<section class="py-5">
    <div class="row">
        <!-- Basic Form-->
        <div class="col-lg-12 mb-5">
            <div class="card">
                <div class="card-header">
                    <a href="{% url 'sms:sms_admin' %}"
                       data-toggle="tooltip" data-placement="bottom" title="Back"
                       class="pull-left">
                        <i class="fa fa-chevron-circle-left mr-3" aria-hidden="true"></i>
                    </a>
                    <h3 class="h6 text-uppercase mb-0">Change Password Form</h3>
                </div>
                <div class="card-body">
                    <p>Change Password</p>

                    <form class="form" action="{% url 'sms:password_change'%}" method="POST">{% csrf_token %}
                        <div id="divCheckPasswordMatch" style="color:#ff0000">
                        </div>
                        {{ form.as_p }}

                        <input type="submit" id="submit" value="Confirm" class="btn btn-danger"
                               onclick="return Validate()">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    </form>

                </div>
            </div>


        </div>
    </div>
</section>

{% endblock content %}
<script type="text/javascript">
function Validate() {
    var password = $("#pass").val();
    var confirmPassword = $("#confirmpass").val();

if (password != confirmPassword) {
    $("#divCheckPasswordMatch").html("Passwords do not match!");
    return false;
    }
    else {
    return true;
    }
}

$(document).ready(function () {
   $("#confirmpass").key(Validate);
});

</script>
{%block script%}
{%endblock script%}


